.c-search {
  background-color: #ededed;
  padding: 20px;
}

.c-search__button {
  background-color: #50a5de;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 26px;
  width: 70px;
}

.c-search__cep {
  color: #9b9b9b;
  font-size: 14px;
}

.c-search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 220px;
}

.c-search__title {
  color: #3d3d3d;
  font-size: 14px;
  margin: 0 0 20px;
}